body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.tabs button {
    background-color: #555;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.tabs button:hover {
    background-color: #777;
}

.content {
    display: none;
}

.pokedex-container,
.items-container,
.moves-container,
.types-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card,
div {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card p,
.items-container div,
.moves-container div,
.types-container div {
    margin: 5px 0;
}

.card p span {
    margin-right: 5px;
}
